* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Yuji Syuku Regular';
  color: white;
  background-image: url(./Img/background2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;  
  flex-direction: row;
}

.bg-side {
  flex: 1 0 45%;
}

p, legend {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  margin: 25px 25px 15px 25px;
}

#logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 30%;
  height: 65%;
  background: rgba(255, 255, 255, 0.5);
  margin: auto;
  margin-top: 20%;
}

#logo-image {
  object-fit: contain;
}

#logo-name {
  font-size: 4.5rem;
  align-self: center;
  color: black;
  font-family: "RocknRoll";
  overflow: hidden;
  writing-mode: vertical-rl;
  text-orientation: upright;
}


.form-side {
  flex: 0 1 60%;
  background: rgba(57, 69, 78, 0.937);
  height: 100%;
  min-width: 500px;
  margin-left: auto;
}

#sign-up-form {
  width: 100%;
  background-color: rgba(101, 117, 146, 0.437);
  padding: 20px;
  box-shadow: 0px 10px 20px black;
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 100%;
  border: none;
}

.input-container {
  display: inherit;
  flex-direction: column;
  width: 40%;
  min-width: 0;
}

.input-label{
  font-size: 0.8rem;
}

.input {
  font-size: 1.3rem;
  font-family: inherit;
  background-color: rgba(255, 228, 196, 0.13);
  color: white;
  border-radius: 5px;
  padding-left: 0.3rem;
  height: 30px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.467);
}

input:not(:placeholder-shown):not(:focus):invalid {
  border-color:rgb(183, 33, 33);
  box-shadow: 1px 1px 10px red;
}


input:focus {
  outline: none;
  background-color: rgba(99, 136, 188, 0.674);
} 

#confirm-button {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: rgb(115, 123, 136);
  color: white;
  margin: 45px auto auto 60px;
}

#confirm-button:hover {
  background-color: rgb(168, 194, 236);
}


@font-face {
  font-family: 'Yuji Syuku Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Yuji Syuku Regular'), url('./Fonts/YujiSyuku-Regular.woff') format('woff');
}


@font-face {
  font-family: 'RocknRoll';
  font-style: normal;
  font-weight: normal;
  src: local('RocknRoll'), url('./Fonts/RocknRollOne-Regular.ttf') format('truetype');
}
