html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Yuji Syuku Regular';
  background-image: url(./Img/background2.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

.form-side {
  background: #39454e;
  height: 100%;
  width: 55%;
  min-height: 500px;
  margin-left: auto;
}


@font-face {
  font-family: 'Yuji Syuku Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Yuji Syuku Regular'), url('./Fonts/YujiSyuku-Regular.woff') format('woff');
}


@font-face {
  font-family: 'RocknRoll';
  font-style: normal;
  font-weight: normal;
  src: local('RocknRoll'), url('./Fonts/RocknRollOne-Regular.ttf') format('truetype');
}
